In [ ]:
!c:/Users/andre/OneDrive/Documentos/Private/Salerno/Pessoal/Cursos/datacamp/pandas/.venv/Scripts/Activate.ps1

In [ ]:
!pip install pandas

In [7]:
import pickle

In [1]:
import pandas as pd

In [2]:
taxi_owners = pd.read_pickle('../pandas/datasets/taxi_owners.p')

In [3]:
taxi_owners.shape

(3519, 5)

In [4]:
taxi_owners.head(2)

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659

In [5]:
taxi_veh = pd.read_pickle('../pandas/datasets/taxi_vehicles.p')

In [6]:
taxi_veh.shape

(3519, 6)

In [7]:
taxi_veh.head(2)

    vid    make  model  year fuel_type           owner
0  2767  TOYOTA  CAMRY  2013    HYBRID  SEYED M. BADRI
1  1411  TOYOTA   RAV4  2017    HYBRID     DESZY CORP.

In [8]:
taxi_veh.groupby('fuel_type').nunique()

                         vid  make  model  year  owner
fuel_type
COMPRESSED NATURAL GAS    27     3      3     4     19
FLEX FUEL                 89     7     11     9     73
GASOLINE                 611    12     37     9    498
HYBRID                  2792     8     20    12   1877

In [11]:
# Merge the taxi_owners and taxi_veh tables
# A length-2 sequence where each element is optionally a string indicating the suffix to add # to overlapping column names in left and right respectively. 
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own', '_veh'))
print(taxi_own_veh)

        rid   vid         owner_own                 address    zip    make
0     T6285  6285    AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630  NISSAN  \
1     T4862  4862      MANGIB CORP.  5717 N. WASHTENAW AVE.  60659   HONDA
2     T1495  1495     FUNRIDE, INC.     3351 W. ADDISON ST.  60618  TOYOTA
3     T4231  4231      ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645  TOYOTA
4     T5971  5971    EUNIFFORD INC.     3351 W. ADDISON ST.  60618  TOYOTA
...     ...   ...               ...                     ...    ...     ...
3514  T4453  4453   IMAGIN CAB CORP     3351 W. ADDISON ST.  60618    FORD
3515   T121   121  TRIBECA CAB CORP     4536 N. ELSTON AVE.  60630    FORD
3516  T3465  3465  AMIR EXPRESS INC     3351 W. ADDISON ST.  60618  TOYOTA
3517  T1962  1962  KARY CAB COMPANY     4707 N. KENTON AVE.  60630  TOYOTA
3518  T1031  1031       NECT 42 LLC    6500 N. WESTERN AVE.  60645    FORD

       model  year fuel_type         owner_veh
0     ALTIMA  2011    HYBRID    AGEAN TAXI LLC
1        CRV  2014  GASOLINE      MANGIB CORP.
2     SIENNA  2015  GASOLINE     FUNRIDE, INC.
3      CAMRY  2014    HYBRID      ALQUSH CORP.
4     SIENNA  2015  GASOLINE    EUNIFFORD INC.
...      ...   ...       ...               ...
3514  ESCAPE  2010    HYBRID   IMAGIN CAB CORP
3515   C-MAX  2014    HYBRID  TRIBECA CAB CORP
3516   CAMRY  2014    HYBRID  AMIR EXPRESS INC
3517   CAMRY  2014    HYBRID  KARY CAB COMPANY
3518  FUSION  2014    HYBRID       NECT 42 LLC

[3519 rows x 10 columns]

In [12]:
taxi_own_veh['fuel_type'].value_counts()

fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64